[submodule "c2ocaml"]
	path = c2ocaml
	url = https://github.com/jjhenkel/c2ocaml
	branch = arbitrary-repos
[submodule "lsee"]
	path = lsee
	url = https://github.com/jjhenkel/lsee
	branch = arbitrary-repos
[submodule "glove"]
	path = glove
	url = https://github.com/stanfordnlp/glove
